<footer id="bv-brc-footer">
  <div id="bv-brc-footer-container">
    <div id="footer-dxkb">
      <div id="footer-logo">
        <img class="bv-brc-logo" src="/patric/images/cepi/dxkb-light-blue-yellow.svg" alt="BV-BRC Logo"
          style="margin-top: 20px;" />
      </div>

      <div id="footer-byline">

        <h4 style="font-size: 20px; font-weight: 600; color: var(--cepi-white); margin-bottom: 0px; margin-top: 20px;">
          A CEPI Initiative.
        </h4>
        <p style="font-size: 14px; font-weight: 400;">This project is supported by the Coalition for Epidemic Preparedness Innovations (CEPI) under the Disease X Program.</p>

        <!-- <div style="margin-top: 10px;">
          <a href="https://www.facebook.com/BVBRC19" target="=_blank"><span class="icon-facebook-square fa-2x"></span></a>
          <a href="https://www.youtube.com/c/BVBRC" target="=_blank"><span class="icon-youtube-square fa-2x"></span></a>
          <a href="https://reddit.com/r/BRC_users" target="=_blank"><span class="icon-reddit-square fa-2x"></span></a>
          <a href="https://github.com/BV-BRC" target="=_blank"><span class="icon-github-square fa-2x"></span></a>
        </div> -->
      </div>
    </div>

    <div class="footer-column">
      <h3>
        <a href="/about">ABOUT</a>
      </h3>
      <a href="/funding" class="footer-link">Funding</a>
      <a href="/team" class="footer-link">Our Team</a>
      <a href="/citation" class="footer-link">Community News</a>
    </div>

    <div class="footer-column">
      <h3>
        <a href="/faq">FAQ</a>
      </h3>
      <a href="https://www.bv-brc.org/docs" class="footer-link">Documentation</a>
      <a href="/related-resources" class="footer-link">Related Resources</a>
      <a href="https://www.bv-brc.org/docs/tutorial/index.html" target="_blank" class="footer-link">Tutorials</a>
    </div>

    <div class="footer-column">
      <h3>
        <a href="https://www.bv-brc.org/docs/news/index.html" target="_blank">UPDATES</a>
      </h3>
      <a href="/brc-calendar" class="footer-link">Calendar</a>
      <a href="/citation" class="footer-link">Citations</a>
      <a href="/publications" class="footer-link">Publications</a>
      <!-- <a href="https://www.bv-brc.org/docs/reports_and_analysis/index.html" class="footer-link">Reports & Analysis</a> -->
    </div>

    <div class="footer-column" style="padding-right: 20px;">
      <h3>
        <a href="https://www.bv-brc.org/docs/overview.html" target="_blank">HELP</a>
      </h3>
      <a class="footer-link DialogButton" rel="reportProblem:">Contact Us</a>
      <a href="https://www.bv-brc.org/docs/videos/index.html" target="_blank" class="footer-link">Instructional Videos</a>
      <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
    </div>
  </div>
</footer>