<footer id="bv-brc-footer">
  <div id="bv-brc-footer-container">
    <div
      style="display: flex; flex-direction: column; align-items: left; justify-content: left; text-align: left; float: left;">
      <div>
        <img class="bv-brc-logo" src="/patric/images/cepi/dxkb-light-blue-yellow.svg" alt="BV-BRC Logo"
          style="height: 64px; margin-top: 20px;" />
      </div>

      <h4 style="font-size: 20px; font-weight: 600; color: var(--cepi-white); margin-bottom: 0px; margin-top: 10px;">A
        CEPI Initiative.</h4>
      <p style="font-size: 14px; font-weight: 400;">This project is funded in whole or in parts with Federal funds using
        grants awarded to the University of Chicago.</p>

      <div style="margin-top: 10px;">
        <a href="https://www.facebook.com/BVBRC19" target="=_blank"><span class="icon-facebook-square fa-2x"></span></a>
        <a href="https://www.youtube.com/c/BVBRC" target="=_blank"><span class="icon-youtube-square fa-2x"></span></a>
        <a href="https://reddit.com/r/BRC_users" target="=_blank"><span class="icon-reddit-square fa-2x"></span></a>
        <a href="https://github.com/BV-BRC" target="=_blank"><span class="icon-github-square fa-2x"></span></a>
      </div>
    </div>

    <div class="footer-column">
      <h3 style="margin-top: 40px; margin-bottom: 40px; font-size: 18px; font-weight: 600; color: var(--cepi-yellow);">ABOUT</h3>
      <a href="/about" class="footer-link">DXKB</a>
      <a href="/funding" class="footer-link">Funding</a>
      <a href="/team" class="footer-link">Our Team</a>
      <a href="/publications" class="footer-link">Publications</a>
    </div>

    <div class="footer-column">
      <h3 style="margin-top: 40px; margin-bottom: 40px; font-size: 18px; font-weight: 600; color: var(--cepi-yellow);">FAQ</h3>
      <a href="https://www.bv-brc.org/docs" class="footer-link">Documentation</a>
      <a href="related-resources" class="footer-link">Related Resources</a>
      <a href="https://www.bv-brc.org/docs/tutorial/index.html" class="footer-link">Tutorials</a>
    </div>

    <div class="footer-column">
      <h3 style="margin-top: 40px; margin-bottom: 40px; font-size: 18px; font-weight: 600; color: var(--cepi-yellow);">UPDATES</h3>
      <a href="https://www.bv-brc.org/docs/news/index.html" class="footer-link">Announcements</a>
      <a href="/citation" class="footer-link">Community News</a>
      <a href="/brc-calendar" class="footer-link">Calendar</a>
      <a href="https://www.bv-brc.org/docs/reports_and_analysis/index.html" class="footer-link">Reports & Analysis</a>
    </div>

    <div class="footer-column">
      <h3 style="margin-top: 40px; margin-bottom: 40px; font-size: 18px; font-weight: 600; color: var(--cepi-yellow);">HELP</h3>
      <a href="https://www.bv-brc.org/docs/videos/index.html" class="footer-link">Instructional Videos</a>
      <a href="/contact" class="footer-link">Contact Us</a>
      <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
    </div>
  </div>
</footer>