<div id="bv-brc-home">
    <div id="bv-brc-home-container">
        <div class="verification_message home-banner">
            <p>
                <strong>Your email has not been verified. Click here to visit your profile and update your email address
                    and/or resend the verification message.</strong>
            </p>
        </div>

        <div class="grid-container" style="width: 100%; align-items: center;">

            <div class="home-main" style="margin-top: 100px;">
                <div id="home-main-header" style="width: 100%; display: flex; flex-direction: column; align-items: center;">
                    <h1 style="font-size: 36px; font-weight: 600; margin-bottom: 8px;">
                        Welcome to the
                    </h1>
                    <h1 style="font-size: 36px; font-weight: 600;">
                        Disease X Knowledge Base
                    </h1>
                </div>

                <div class="cepi-info card">
                    <!-- <h1>BACTERIAL AND VIRAL BIOINFORMATICS RESOURCE CENTER</h1>
                    <p>
                        Welcome to the Bacterial and Viral Bioinformatics Resource Center (BV-BRC), a comprehensive
                        resource for bacterial and viral infectious disease research. BV-BRC provides integrated data,
                        advanced bioinformatics tools, and workflows to support the scientific community in
                        understanding and ls
                        combating infectious diseases. Explore our <a
                                href="https://www.bv-brc.org/docs/quick_start/index.html" target="_blank"
                                style="font-weight: bold;">Quick Start Guide</a> to learn more about the platform's
                        features and capabilities. For questions or assistance, please don't hesitate to <a
                                href="mailto:help@bv-brc.org" style="font-weight: bold;">contact us</a>.
                    </p> -->
                    <div class="search">
                        <div class="global-search">
                            <div>
                                <input style="width:100%;font-size:1em;" class="showOnLoad dijitHidden"
                                       data-dojo-type="p3/widget/GlobalSearch"/>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="browse">
                        <h3>BROWSE</h3>
                        <div class="browse-options">
                            <a href="/view/Bacteria/2" class="btn btn-blue">BACTERIA</a>
                            <a href="/view/Taxonomy/2157" class="btn btn-blue">ARCHAEA</a>
                            <a href="/view/Virus/10239" class="btn btn-blue">VIRUSES</a>
                            <a href="/view/Host/?eq(taxon_lineage_ids,2759)#view_tab=genomes" class="btn btn-blue"
                               id="eukaryoticHosts">EUKARYOTIC HOSTS</a>
                        </div>
                    </div> -->
                </div>

                <!-- <div class="bv-brc-mid" style="margin-top: 100px; text-align: center;">
                    <h2 style="font-size: 24px; font-weight: 600; margin-bottom: 16px;">
                        Quick Links
                    </h2>

                    <div id="analyze-section">
                        <div class="analyze bv-brc-mid-content card">

                            <div class="bv-brc-mid-content-links">
                                <div class="mid-section">
                                    <h3 style="font-size: 18px; text-decoration: underline;">Viruses</h3>
                                    <div class="mid-links">
                                        <a href="/searches/TaxaSearch" class="navigationLink">Taxa</a>
                                        <a href="/searches/GenomeSearch" class="navigationLink">Genomes</a>
                                        <a href="/searches/ProteinSearch" class="navigationLink">Proteins</a>
                                        <a href="/searches/SpecialtyGeneSearch" class="navigationLink">Specialty
                                            Genes</a>
                                        <a href="/searches" class="navigationLink">All Searches...</a>
                                    </div>
                                </div>

                                <div class="vl"></div>

                                <div class="mid-section">
                                    <h3 style="font-size: 18px; text-decoration: underline;">Analyze</h3>
                                    <div class="mid-links">
                                        <a href="/app/Assembly2" class="navigationLink">Assembly</a>
                                        <a href="/app/Annotation" class="navigationLink">Annotation</a>
                                        <a href="/app/Homology" class="navigationLink">BLAST</a>
                                        <a href="/app/MSA" class="navigationLink">MSA</a>
                                        <a href="/tools" class="navigationLink">All Tools &amp;
                                            Services...</a>
                                    </div>
                                </div>

                                <div class="vl"></div>

                                <div class="mid-section">
                                    <h3 style="font-size: 18px; text-decoration: underline;">Resources</h3>
                                    <div class="mid-links">
                                        <a href="https://bv-brc.org/docs/quick_references/workspaces/workspace.html"
                                            class="navigationLink" target="=_blank">Access Private Workspace</a>
                                        <a href="https://bv-brc.org/docs/quick_references/workspaces/groups.html"
                                            class="navigationLink" target="=_blank">Save Search Results</a>
                                        <a href="https://bv-brc.org/docs/quick_references/workspaces/data_upload.html"
                                            class="navigationLink" target="=_blank">Upload Data</a>
                                        <a href="https://bv-brc.org/docs/quick_references/workspaces/jobs.html"
                                            class="navigationLink" target="=_blank">Access Analysis Jobs</a>
                                        <a href="https://bv-brc.org/docs/quick_references/workspaces/workspace.html#creating-and-sharing-workspaces"
                                           class="navigationLink" target="=_blank">Share and Publish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


                <div class="bv-brc-bottom" style="margin-top: 100px; margin-bottom: 60px;">
                    <div class="title">
                        <h2 style="font-size: 24px; font-weight: 600;">News</h2>
                    </div>

                    <div class="outbreaks" style="flex-direction: row; gap: 20px; width: 100%; align-items: center; justify-content: center;">

                        <div class="bv-brc-bottom-left card" style="flex-direction: column;">
                            <div id="mpox-image" class="content-image" style="width: 200px; height: 160px;">
                                <img src="https://www.bv-brc.org/api/content/images/outbreaks/mpox/poxviridae_virion_image_single.png"
                                     alt="Influenza Virion" style="width: 200px; height:200px; object-fit: cover">
                            </div>
                            <div id="mpox-content" class="content" style="width: fit-content; height: 240px;">
                                <div class="content-description" style="overflow: hidden; text-overflow: ellipsis;">
                                    <h2><a href="/outbreaks/Mpox/#view_tab=overview">Mpox 2024</a></h2>
                                    <p style="text-align: left; width: fit-content;">
                                        Monkeypox virus, the cause of Mpox, is a zoonotic disease endemic to Africa.
                                        There are two primary clades: Clade I and Clade II. Since Jan 2022, over 99,000
                                        global Mpox cases have been reported, mainly from Clade II.b. However, Clade I
                                        remains a concern with increasing outbreaks in Central Africa and recent cases
                                        outside its traditional range.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="bv-brc-bottom-left card" style="flex-direction: column;">
                            <div id="mpox-image" class="content-image" style="width: 200px; height: 160px;">
                                <img src="https://www.bv-brc.org/api/content/images/outbreaks/H5N1/influenza_virion_image.png"
                                     alt="Influenza Virion" style="width: 200px; height:200px; object-fit: cover">
                            </div>
                            <div id="mpox-content" class="content" style="width: fit-content; height: 240px;">
                                <div class="content-description" style="overflow: hidden; text-overflow: ellipsis;">
                                    <h2><a href="/outbreaks/H5N1/#view_tab=overview">Influenza H5N1 2024</a></h2>
                                    <p style="text-align: left; width: fit-content;">
                                        The H5N1 virus, known as bird flu, poses serious risks to wildlife, agriculture,
                                        and humans. Since 2020, the 2.3.4.4b strain has spread globally, with rare but
                                        severe human cases linked to infected poultry and cattle. The BV-BRC offers the
                                        latest data, outbreak maps, and resources to support research and response
                                        efforts. Learn more about the evolving outbreak and its impact.
                                </div>
                            </div>
                        </div>

                        <div class="bv-brc-bottom-left card" style="flex-direction: column;">
                            <div id="mpox-image" class="content-image" style="width: 200px; height: 160px;">
                                <img src="https://www.bv-brc.org/api/content/images/outbreaks/mpox/poxviridae_virion_image_single.png"
                                     alt="Influenza Virion" style="width: 200px; height:200px; object-fit: cover">
                            </div>
                            <div id="mpox-content" class="content" style="width: fit-content; height: 240px;">
                                <div class="content-description" style="overflow: hidden; text-overflow: ellipsis;">
                                    <h2><a href="/outbreaks/Mpox/#view_tab=overview">Mpox 2024</a></h2>
                                    <p style="text-align: left; width: fit-content;">
                                        Monkeypox virus, the cause of Mpox, is a zoonotic disease endemic to Africa.
                                        There are two primary clades: Clade I and Clade II. Since Jan 2022, over 99,000
                                        global Mpox cases have been reported, mainly from Clade II.b. However, Clade I
                                        remains a concern with increasing outbreaks in Central Africa and recent cases
                                        outside its traditional range.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="bv-brc-bottom-left card" style="flex-direction: column;">
                            <div id="mpox-image" class="content-image" style="width: 200px; height: 160px;">
                                <img src="https://www.bv-brc.org/api/content/images/outbreaks/H5N1/influenza_virion_image.png"
                                     alt="Influenza Virion" style="width: 200px; height:200px; object-fit: cover">
                            </div>
                            <div id="mpox-content" class="content" style="width: fit-content; height: 240px;">
                                <div class="content-description" style="overflow: hidden; text-overflow: ellipsis;">
                                    <h2><a href="/outbreaks/H5N1/#view_tab=overview">Influenza H5N1 2024</a></h2>
                                    <p style="text-align: left; width: fit-content;">
                                        The H5N1 virus, known as bird flu, poses serious risks to wildlife, agriculture,
                                        and humans. Since 2020, the 2.3.4.4b strain has spread globally, with rare but
                                        severe human cases linked to infected poultry and cattle. The BV-BRC offers the
                                        latest data, outbreak maps, and resources to support research and response
                                        efforts. Learn more about the evolving outbreak and its impact.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="home-main home-main-right">
                <div class="announcements card">
                    <h2>NEWS &amp; ANNOUNCEMENTS</h2>
                    <ul class="slides" id="announcements-slides"></ul>
                    <div class="dot-navigation" id="announcements-dot-navigation"></div>
                </div>

                <div class="linkedin-feed card" id="linkedin-feed">
                    <h2 style="margin-bottom: 0;">COMMUNITY NEWS</h2>
                    <ul class="slides" id="linkedin-slides"></ul>
                    <div class="dot-navigation" id="linkedin-dot-navigation" style="margin-top: 10px;"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<%- include('bv-brc-footer') %>

<style>
  body.patric {
    min-width: 320px;
  }

  #p3header-search,
  #mobile-search-icon {
    display: none;
  }

  .home-main-left h1,
  .home-main-left h2 {
    margin-bottom: 0;
  }
</style>
