<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us | DXKB</title>
  <%- include('../header') %>
</head>

<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
  <div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
    <%- include('../bv-brc-header') %>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
      <div id="bv-brc-page">
        <div id="bv-brc-page-container">
          <div class="page-content">

            <div id="about-us-content" style="margin-bottom: 40px;">
              <h1 id="about-us" class="page-content-header">About DXKB</h1>
              <p>
                The Disease X Knowledge Base (DXKB) is an information system designed to support the discovery and development of immunogens for vaccine design, focusing on viral pathogens that may cause outbreaks of human disease.
                The DXKB contains curated data, custom visualizations, services, and artificial intelligence-based models intended to accelerate vaccine development.
                DXKB is hosted by researchers at the University of Chicago Consortium for Advanced Science and Engineering (CASE).
                The resource is freely available to the public.
              </p>
            </div>

            <div id="funding-content" style="margin-bottom: 40px;">
              <h2 class="page-content-subheader">Funding</h2>
              <hr class="page-content-divider" />
              <p>
                The DXKB is supported by the Coalition for Epidemic Preparedness Innovations (<a href="https://cepi.net/" target="_blank">CEPI</a>) under the Disease X Program.
                We gratefully acknowledge CEPI’s commitment to advancing global health security and its pivotal role in funding initiatives aimed at preventing and controlling infectious disease outbreaks.
              </p>
            </div>

            <div id="leadership-content" style="margin-bottom: 40px;">
              <h2 class="page-content-subheader">Leadership</h2>
              <hr class="page-content-divider" />
              <p>
                DXKB is a component of the larger Vaccine Immunogen Prediction neural network for Disease X (VIPnetX) award to the Houston Methodist Research Institute under Principal Investigator, Jimmy Gollihar.
                The project includes collaborators from Houston Methodist Research Institute, University of Chicago, University of Texas Austin, University of Texas Medical Branch, J. Craig Venter Institute, and La Jolla Institute for Immunology.
              </p>

              <br>
              <p><strong class="page-content-sub-subheader" style="font-size: 16px;">Jimmy Gollihar, Lead PI</strong><br />
                Professor of Pathology and Genomic Medicine<br />
                <a href="https://scholars.houstonmethodist.org/en/organisations/academic-institute" target="_blank">Houston Methodist Academic Institute</a>
              </p>

              <br>
              <p>
                <strong class="page-content-sub-subheader" style="font-size: 16px;">Rick Stevens, DXKB Site PI</strong><br />
                Professor of Computer Science<br />
                University of Chicago
              </p>

              <br>
              <p>
                <strong class="page-content-sub-subheader" style="font-size: 16px;">James Davis, DXKB co-project lead</strong><br />
                Computational Biologist<br />
                University of Chicago CASE
              </p>

              <br>
              <p>
                <strong class="page-content-sub-subheader" style="font-size: 16px;">Arvind Ramanathan, DXKB co-project lead</strong><br />
                Computational Biologist<br />
                University of Chicago CASE
              </p>
            </div>

            <div id="mission-content" style="margin-bottom: 40px;">
              <h2 class="page-content-subheader">Mission</h2>
              <hr class="page-content-divider" />
              <p>The DXKB is intended to provide an integration of curated data, tools, and AI models that aid in accelerating research and shortening the development time for creating vaccines for emerging viruses, consistent with the <a href="https://cepi.net/cepi-20-and-100-days-mission" target="_blank">CEPI 100 days mission</a>.</p><br>
              <p>
                To achieve this, DXKB integrates high quality structured bioinformatic data, literature data, experiments, AI models, and other related information for select viral families of interest and their close relatives.
                The resource also serves as starting point for research into the development of Retrieval Augmented Generation (RAG) models for accessing scientific data, and the development of agentic workflows for answering complex scientific questions.
              </p>
            </div>

            <div id="BV-BRC-relationship-content" style="margin-bottom: 40px;">
              <h2 class="page-content-subheader">Funding</h2>
              <hr class="page-content-divider" />
              <p>
                To rapidly achieve the goal of building and supporting a knowledge base that can accelerate vaccine design for emerging pathogens, the DXKB site is built upon the pre-existing back-end database and service model developed by the Bacterial and Viral Bioinformatics Resource Center <a href="http://bvbrc.org/" target="_blank"></a>(BV-BRC).
                The BV-BRC is a freely-available and FAIR compliant resource supported by a U24 award from NIAID.
              </p>
            </div>
          </div>
        </div>
      </div>

      <%- include('../bv-brc-footer') %>
    </div>
  </div>

  <%- include('../javascript') %>
</body>

</html>