<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Citation | DXKB</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content citation-content">
                          <h1 id="citation" class="page-content-header">Citing DXKB Resources</h1>

                          <h2 id="citing-the-bv-brc-contract" class="page-content-subheader">Citing the DXKB Award:</h2>
                          <hr class="page-content-divider" />
                          <p>If you use <strong>DXKB web resources</strong> to assist in research publications or proposals, please cite us as:</p>
                          <p>
                            The DiseaseX Knowledge Base (DXKB): <a href="https://dxkb.org/">https://dxkb.org</a>
                          </p>
                          <br>
                          <p>In some circumstances, you may also wish to cite DXKB in the Acknowledgement section as follows: "This project is supported by the Coalition for Epidemic Preparedness Innovations (CEPI) under the Disease X Program. We gratefully acknowledge CEPI’s commitment to advancing global health security and its pivotal role in funding initiatives aimed at preventing and controlling infectious disease outbreaks."</p>
                          <br>

                          <h2 id="citing-bv-brc" class="page-content-subheader">Citing BV-BRC:</h2>
                          <hr class="page-content-divider" />
                          <p>If you use <strong>BV-BRC web resources</strong> to assist in research publications or proposals, please cite as:</p>
                          <br>
			                    <p><a href="https://pubmed.ncbi.nlm.nih.gov/36350631/">Introducing the Bacterial and Viral Bioinformatics Resource Center (BV-BRC): a resource combining PATRIC, IRD and ViPR.</a><br>
                            Olson RD, Assaf R, Brettin T, Conrad N, Cucinell C, Davis JJ, Dempsey DM, Dickerman A, Dietrich EM, Kenyon RW, Kuscuoglu M, Lefkowitz EJ, Lu J, Machi D, Macken C, Mao C, Niewiadomska A, Nguyen M, Olsen GJ, Overbeek JC, Parrello B, Parrello V, Porter JS, Pusch GD, Shukla M, Singh I, Stewart L, Tan G, Thomas C, VanOeffelen M, Vonstein V, Wallace ZS, Warren AS, Wattam AR, Xia F, Yoo H, Zhang Y, Zmasek CM, Scheuermann RH, Stevens RL.<br />
                            Nucleic Acids Res. 2022 Nov 9:gkac1003. doi: 10.1093/nar/gkac1003. Epub ahead of print.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/36350631">36350631</a>
                          </p>
			                    <br>
                          <p>
                            The Bacterial and Viral Bioinformatics Resource Center (BV-BRC): <a href="https://www.bv-brc.org/">https://www.bv-brc.org</a>
                          </p>
                          <br>

                          <!-- <h2 id="citing-the-bv-brc-contract" class="page-content-subheader">Citing the BV-BRC Award:</h2>
                          <hr class="page-content-divider" />
                          <p>In some circumstances, you may also wish to cite BV-BRC in the Acknowledgement section as follows: "The Bacterial and Viral Bioinformatics Resource Center (BV-BRC) has been funded in whole or in part with federal funds from the National Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of Health and Human Services, under Grant No. U24AI183849 to the University of Chicago.</p>
                          <br> -->

                          <h2 id="contacting-us" class="page-content-subheader">Contacting Us:</h2>
                          <hr class="page-content-divider" />
                          <p>If your manuscript or abstract submission is accepted and cites DXKB, please notify us by sending an email to the following address, to help us track the resource usage.</p>
                          <br>
                          <p>DXKB: <a href="mailto:help@bv-brc.org">help@dxkb.org</a><br></p>
                          <p>BV-BRC: <a href="mailto:help@bv-brc.org">help@bv-brc.org</a><br></p>
                          <br>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
