<!DOCTYPE html>
<html lang="en">
	<head>
        <title>FAQ</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content faq-content">
                            <div id="resource-center" style="margin-bottom: 40px;">
                                <h1 id="faq-header" class="page-content-header">FAQ</h1>
                                <h2 id="bioinformatics-faqs" class="page-content-subheader">
                                    Bioinformatics
                                </h2>
                                <hr class="page-content-divider" />
                                <ul>
                                    <li>
                                        <p>
                                            <strong class="page-content-sub-subheader">What is bioinformatics?</strong>
                                            An interdisciplinary field that combines computer science and biology to analyze and interpret large biological datasets.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <strong class="page-content-sub-subheader">Who is funding this project?</strong>
                                            DXKB is funded by <a href="https://cepi.net/" target="_blank">CEPI</a>.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>