<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Related Resources | DXKB</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content related-resources-content">
                            <div id="resource-center" style="margin-bottom: 40px;">
                                <h1 id="related-resources" style="font-weight: 600; color: var(--cepi-sapphire); font-size: x-large;">Related Resources</h1>
                                <h2 id="bioinformatics-resource-centers" style="font-weight: 600; color: var(--cepi-malibu); font-size: large; margin-bottom: 0;">
                                    Disease X/CEPI Resource Centers
                                </h2>
                                <hr style="border: 1px solid var(--cepi-malibu); margin: 0 0 10px 0;">
                                <ul>
                                    <li><p>
                                        <a href="https://brc-analytics.org/" style="color: var(--cepi-yellow);"><strong>BRC Analytics:</a></strong>
                                        Analytics for pathogen, host, and vector data
                                    </p></li>
                                    <li><p>
                                        <a href="https://pathogendatanetwork.org/" style="color: var(--cepi-yellow);"><strong>Pathogen Data Network:</a></strong>
                                        Infrastructure, tools, training, outreach and support for infectious-diseases data sharing and reuse
                                    </p></li>
                                </ul>
                            </div>
                            <div id="related-programs">
                                <h2 id="related-niaid-programs" style="font-weight: 600; color: var(--cepi-malibu); font-size: large; margin-bottom: 0;">
                                    Related Programs
                                </h2>
                                <hr style="border: 1px solid var(--cepi-malibu); margin: 0 0 10px 0;">
                                <ul>
                                    <li><a href="https://www.bv-brc.org" style="font-weight: 600; color: var(--cepi-yellow);">
                                        Bacterial and Viral BioInformatics Resource Center (BV-BRC)
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>