<!DOCTYPE html>
<html lang="en">
	<head>
        <title>BV-BRC Team | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                          <div class="teams">
                            <h1 id="bv-brc-team" class="page-content-header">DXKB Team</h1>
                            <p>
                              The DXKB team is made up of several talented individuals at a number of different locations. Below are the institutions that are a part of our group.
                            </p>
                            <br/>

                            <div class="argonne-team">
                              <h2 id="university-of-chicago--argonne-national-laboratory--fig" class="page-content-subheader"> University of Chicago / Argonne National Laboratory / FIG</h2>
                              <hr class="page-content-divider" />
                              <div class="column-right">
                                <img src="../patric/images/bv-brc/uc-logo.png" alt="University of Chicago Logo" class="teamlogo">
                              </div>
                              <div class="column-left">
                                <ul>
                                  <li><strong>Rick Stevens, Co-Principal Investigator</strong></li>
                                  <li>Nicole Bowers</li>
                                  <li>Thomas Brettin</li>
                                  <li>James Davis</li>
                                  <li>Emily Dietrich</li>
                                  <li>Marcus Nguyen</li>
                                  <li>Robert Olson</li>
                                  <li>Ross Overbeek</li>
                                  <li>Bruce Parrello</li>
                                  <li>Gordon Pusch</li>
                                  <li>Maulik Shukla</li>
                                  <li>Margo VanOeffelen</li>
                                  <li>Veronika Vonstein</li>
                                </ul>
                              </div>
                              <br clear="all" />
                            </div>

                            <br/>

                            <div class="jcvi-team">
                              <h2 id="j-craig-venter-institute" class="page-content-subheader">J. Craig Venter Institute</h2>
                              <hr class="page-content-divider">
                              <div class="column-right">
                                <img src="../patric/images/bv-brc/jcvi-logo.svg" alt="J. Craig Venter Institute Logo" class="teamlogo">
                              </div>
                              <div class="column-left">
                                <ul>
                                  <li><strong>Indresh Singh, JCVI Site Principal Investigator</strong></li>
                                  <li>Roshni Bhattacharya</li>
                                  <li>Anna Capria</li>
                                  <li>Mehmet Kuscuoglu</li>
                                  <li>Lucy Stewart</li>
                                  <li>Gene Tan</li>
                                  <li>Christian Zmasek</li>
                                  <li>Abril Zuniga</li>
                                </ul>
                              </div>
                              <br clear="all" />
                            </div>

                            <br/>

                            <div class="virginia-team">
                              <h2 id="biocomplexity-institute-and-initiative-at-university-of-virginia" class="page-content-subheader">Biocomplexity Institute and Initiative at University of Virginia</h2>
                              <hr class="page-content-divider">
                              <div class="column-right">
                                <img src="../patric/images/bv-brc/uva-logo.png" alt="University of Virginia Logo" class="teamlogo">
                              </div>
                              <div class="column-left">
                                <ul>
                                  <li>Clark Cucinell</li>
                                  <li>Allan Dickerman</li>
                                  <li>Ron Kenyon</li>
                                  <li>Brian Klahn</li>
                                  <li>Chunhong Mao</li>
                                  <li>Dustin Machi</li>
                                  <li>Andrew Warren</li>
                                  <li>Rebecca Wattam</li>
                                </ul>
                              </div>
                              <br clear="all" />
                            </div>

                            <br/>

                            <div class="uab-team">
                              <h2 id="university-of-alabama-at-birmingham" class="page-content-subheader">University of Alabama at Birmingham</h2>
                              <hr class="page-content-divider">
                              <div class="column-right">
                                <img src="../patric/images/bv-brc/uab-logo.png" alt="University of Alabama at Birmingham Logo" class="teamlogo">
                              </div>
                              <div  class="column-left">
                                <ul>
                                  <li><strong>Elliot Lefkowitz, Co-Principal Investigator</strong></li>
                                  <li>Don Dempsey</li>
                                  <li>Curtis Hendrickson</li>
                                </ul>
                              </div>
                              <br clear="all" />
                            </div>

                            <br/>
                          </div>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
