<!DOCTYPE html>
<html lang="en">

<head>
  <title>BV-BRC Team | DXKB</title>
  <%- include('../header') %>
</head>

<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
  <div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
    <%- include('../bv-brc-header') %>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
      <div id="bv-brc-page">
        <div id="bv-brc-page-container">
          <div class="page-content">
            <div class="teams">
              <h1 id="bv-brc-team" class="page-content-header">DXKB Team</h1>
              <p>
                The DXKB team is made up of several talented individuals at a number of different locations. Below are the institutions that are a part of our group.
              </p>
              <br />

              <div id="teams-grid">
                <div class="uchicago-team">
                  <h2 id="university-of-chicago" class="page-content-subheader">
                    <a href="https://www.uchicago.edu/" target="_blank">
                      University of Chicago
                      <i class="fa icon-external-link"></i>
                    </a>
                  </h2>
                  <hr class="page-content-divider" />

                  <div style="flex-direction: row; gap: 1rem; margin-bottom: 1rem;">
                    <strong>
                      <a href="https://cs.uchicago.edu/people/rick-stevens/" target="_blank" style="color: var(--cepi-sapphire) !important; font-weight: bold; font-size: 16px;">
                        Rick Stevens, Co-Investigator
                      </a>
                    </strong>
                    <img src="../patric/images/bv-brc/uc-logo.png" alt="University of Chicago Logo" class="teamlogo">
                  </div>

                  <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                    <ul class="team-members-list">
                      <li>Alex Brace</li>
                      <li>Alex Partin</li>
                      <li>Andreas Wilke</li>
                      <li>Arvind Ramanathan</li>
                      <li>Bharat Kale</li>
                      <li>Bob Olson</li>
                      <li>Brian Hsu</li>
                      <li>Bruce Parrello</li>
                      <li>Carla Mann</li>
                      <li>Chris Escobar</li>
                      <li>Chris Thomas</li>
                      <li>Christian Seitz</li>
                      <li>Clark Cucinell</li>
                      <li>Dovie Gelerinter</li>
                      <li>Heng Ma</li>
                      <li>James Davis</li>
                      <li>Jamie Overbeek</li>
                      <li>Justin Podowski</li>
                      <li>Kyle Hippe</li>
                      <li>Marcus Nguyen</li>
                      <li>Maulik Shukla</li>
                      <li>Nick Chia</li>
                      <li>Nicole Bowers</li>
                      <li>Ozan Gokdemir</li>
                      <li>Thomas Brettin</li>
                    </ul>
                  </div>
                  <br clear="all" />
                </div>

                <div class="hmri-team">
                  <h2 id="houston-methodist-research-institute" class="page-content-subheader">
                    <a href="https://www.houstonmethodist.org/academic-institute/" target="_blank">
                      Houston Methodist Research Institute
                      <i class="fa icon-external-link"></i>
                    </a>
                  </h2>
                  <hr class="page-content-divider">

                  <div style="flex-direction: row; gap: 1rem; margin-bottom: 1rem;">
                    <strong style="color: var(--cepi-sapphire); font-size: 16px; font-weight: bold;">
                      <a href="https://scholars.houstonmethodist.org/en/persons/jimmy-gollihar" target="_blank" style="color: var(--cepi-sapphire) !important; font-weight: bold; font-size: 16px;">
                        Jimmy Gollihar, Principal Investigator
                      </a>
                    </strong>
                    <img src="../patric/images/hmri-logo.png" alt="Houston Methodist Research Institute Logo" class="teamlogo">
                  </div>

                  <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                    <ul class="team-members-list">
                      <li>Adalia Brixen</li>
                      <li>Andrew P Horton</li>
                      <li>Daniel Kluttz</li>
                      <li>Daniel R Boutz</li>
                      <li>Jon Corral</li>
                      <li>Kameka Johnson</li>
                      <li>Kenneth Roman</li>

                      <li>Michelle Byrom</li>
                      <li>Omar Daher</li>
                      <li>Philipp Ilinykh</li>
                      <li>Raghav Shroff</li>
                      <li>Shaunak Kar</li>
                      <li>Thomas H Segall-Shapiro</li>
                    </ul>
                  </div>
                  <br clear="all" />
                </div>

                <div class="ut-austin-team">
                  <h2 id="university-of-texas-at-austin" class="page-content-subheader">
                    <a href="https://www.utexas.edu/" target="_blank">
                      University of Texas at Austin
                      <i class="fa icon-external-link"></i>
                    </a>
                  </h2>
                  <hr class="page-content-divider" />

                  <div style="flex-direction: row; gap: 1rem; margin-bottom: 1rem;">
                    <strong style="color: var(--cepi-sapphire); font-size: 16px; font-weight: bold;">
                      <a href="https://molecularbiosci.utexas.edu/directory/jason-mclellan" target="_blank" style="color: var(--cepi-sapphire) !important; font-weight: bold; font-size: 16px;">
                        Jason McLellan, Co-Investigator
                      </a>
                    </strong>
                    <img src="../patric/images/bv-brc/uc-logo.png" alt="University of Chicago Logo" class="teamlogo">
                  </div>

                  <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                    <ul class="team-members-list">
                      <li>Nasim Abdi</li>
                      <li>Nicole Johnson</li>
                  </div>
                  <br clear="all" />
                </div>

                <div class="jcvi-team">
                  <h2 id="j-craig-venter-institute" class="page-content-subheader">
                    <a href="https://www.jcvi.org/" target="_blank">
                      J. Craig Venter Institute
                      <i class="fa icon-external-link"></i>
                    </a>
                  </h2>
                  <hr class="page-content-divider">

                  <div style="flex-direction: row; gap: 1rem; margin-bottom: 1rem;">
                    <strong style="color: var(--cepi-sapphire); font-size: 16px; font-weight: bold;">
                      <a href="https://www.jcvi.org/about/gene-tan" target="_blank" style="color: var(--cepi-sapphire) !important; font-weight: bold; font-size: 16px;">
                        Gene Tan, Co-Investigator
                      </a>
                    </strong>
                    <img src="../patric/images/jcvi-logo.png" alt="J. Craig Venter Institute Logo" class="teamlogo">
                  </div>

                  <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                    <ul class="team-members-list">
                      <li>Abril Zuniga</li>
                      <li>Christian Zmasek</li>
                    </ul>
                  </div>
                  <br clear="all" />
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../bv-brc-footer') %>
    </div>
  </div>

  <%- include('../javascript') %>
</body>

</html>